.tab-pane{
-fx-tab-min-height: 40px;
-fx-tab-min-width: 80px;
}


.tab{
-fx-background-color:   #ffffff;

}


.tab:hover{
-fx-background-color:   #f5f5f5;
-fx-cursor: hand;
}

.tab:selected{
-fx-background-color:  #f4f4f4;

}


